services:
  exporter:
    image: ${IMAGE}
    restart: unless-stopped
    environment:
      #      - LDH_EXP=https://ldh-test.zks.uni-leipzig.de
      #- LDH_SOURCE=https://ldh.zks.uni-leipzig.de
      - LDH_SOURCE=https://ldh.zks-mhh.imise.uni-leipzig.de
      - LDH_EXP=http://localhost:8083
    ports:
      - 8083:8083
