services:
  exporter:
    image: fmeineke/ldh-exp:v2.6
    restart: unless-stopped
    environment:
      - LDH_EXP="https://ldh-test.zks.uni-leipzig.de"
      - LDH_SOURCxE="https://ldh-test.zks.uni-leipzig.de"
      - LDH_SOURCE=http://exporter:8083
    ports:
      - 3011:8083
